.menu-page{
  padding:40px;
  text-align:center;
}

.menu-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap:25px;
  margin-top:30px;
}

.food-card{
  background:white;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  padding:15px;
  transition:0.3s;
}

.food-card:hover{
  transform:scale(1.05);
}

.food-card img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:10px;
}

.food-card h3{
  margin:10px 0;
}

.food-card button{
  background:orange;
  border:none;
  padding:10px 15px;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.food-card button:hover{
  background:darkorange;
}